/*Colors*/
:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-sky-blue: #81B3D2;
    --basic-dark-grey: #333333;
    --basic-grey: #ababab;
    --dark-grey: #a9a9a9;
    --very-light-grey: #f2f2f2;
    --bright-blue: #23a9e1;
    --desaturated-blue: #81b3d3;
    --slightly-blue: #669EC0;
    --moderate-blue: #5496BD;
    --black-red: #231f20;
    --very-dark-red: #491213;
    --dark-orange: #766357;
    --dark-orange-2: #766458;
    --bright-orange: #dc6243;
    --mostly-white: #eeeeee;
    --soft-orange: #f49774;
    --soft-red: #f4b1a4; 
    --metal-grey: #e5e5e5;
    --very-dark-grey: #666666;
    --light-grey: #cacaca;
    --greyish-orange: #604E43;
    --desaturated-orange: #503E33;
    --greyish-pink: #bdbbbc;
    --disabled: #6a6a6a;
    }

    /* Tags */

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-dark-grey);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }
  
a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

  /* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 62px;
}

  /*Navigation*/
 
.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
  }

  /*Logo*/
  
  .main-header-logo {
    width: 138px;
    height: 70px;
    margin-left: 133px;
    margin-right: 147px;
  } 

  /* Container */

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex{
  display: flex;
}

.flex-container-interest{
  display: flex;
  align-items: center;
  margin-bottom: 43px;
}

.flex-container-interest p{
  margin: 0;
}

.main-logo{
  width: 457px;
  height: 351px;
  margin-bottom: 43px;
  align-items: center;
}

.site-navigation .container {
  display: flex;
  justify-content: space-around;
}

.site-navigation {
    width: 1200px;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 77px;
    list-style: none;
  }

.site-navigation-current a:not([href]) {
    color: var(--dark-orange);
  }
  
.site-navigation a{
    color: var(--basic-black);
  }
  
.site-navigation a:hover{
    color: var(--basic-sky-blue)
  }

.site-navigation a:focus{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
  } 

.site-navigation a:active{
    color: var(--dark-orange);
  }   

  /*Main*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  /*Main img*/

.background-img{
    background-color: var(--basic-dark-grey);  
    background-image: url(..img/background-photo.png) no-repeat;
    border: 1px solid var(--basic-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /*Advantages*/

.advantages{
  margin-bottom: 60px;
}

.advantage-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-strong{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
  }

.advantage-normal{
    text-align: center;
  }

.advantage-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
}

/*Advantage*/

.advantage-background-main{
  background-color: var(--basic-sky-blue);
}

.advantage-h2-main{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.advantage-main{
  color: var(--basic-white);
  text-align: center;
}

.advantage-minor-strong{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black)
}

.advantage-minor{
 text-align: center;
}

.advantage-backgound-minor{
background-color: var(--mostly-white);
}
/*Advantages grid*/

.grid-advantages{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 256px 256px 256px;
}

.grid-1{
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid-2{
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-3{
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid-4{
  grid-column: 3/4;
  grid-row: 2/3;
}

.grid-5{
  grid-column: -2/-1;
  grid-row: 3/4;
}

.grid-6{
  grid-column: 1/2;
  grid-row: -2/-1;
}

.grid-7{
  grid-column: 2/3;
  grid-row: -2/-1;
}

.grid-8{
  grid-column: -2/-1;
  grid-row: -2/-1;
}

.grid-img-1{
  grid-column: 2/-1; 
  grid-row: 1/2;
}

.grid-img-2{
  grid-column: 1/-2;
  grid-row: 3/4;
}

.grid-advantages p{
    margin: 0 10px;
}

  /*Hotel search main*/

.interested-in-strong{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
 } 

.interested-in-normal{
    line-height: 24px;
    text-align: center;
} 

.button {
    display: inline-block;
    width: 568px;
    height: 86px;
    margin-bottom: 61px;
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--dark-orange);
    border: none;
    font-size: 21px;
    line-height: 26px;
  }

.button:hover{
    background-color: var(--greyish-orange);
}  

.button:focus{
    background-color:var(--desaturated-orange);
    mix-blend-mode: normal;
    opacity: 0.3;
}

.search{
  width: 568;
  height: 395;
}

.search-item {
  margin-top: 0;
  margin-bottom: 41px;
}

.search button{
  margin-top: 51px;
  margin-right: 0;
}


/*Footer*/
.footer{
    padding: 111px 0;
    margin-top: 78px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: var(--basic-black);   
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts{
    margin:0;
    width: 251px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.contacts p{
    margin:0;
}

.social{
  width: 150px;
  justify-self: center;
}

.social-button{
    background-color: var(--basic-sky-blue);
}

.footer ul {
    list-style: none;  
    width: 150px;
    margin: 0 auto;
}

.website-by{
    max-width: 150px;
    margin: 0;
    justify-self: end;
    line-height: 26px;
    text-align: center;
    color: var(--basic-black)
}

.website-by a{
    background-color: var(--black-red);
}

.website-by a:hover{
    background-color: var(--basic-sky-blue);
}

.website-by a:focus{
    background-color: var(--greyish-pink) ;
}

/*Hotels page*/

/*Grid for hotels*/

.page-hotels{
  display: grid;
  grid-template-rows: 217px 86px 454px;
  align-content: start;
}

.page-hotels form{
  grid-row: 1/2;
  display: flex;
}

.page-hotels .results{
  grid-row: 2/3;
}

.page-hotels .accomodation{
  grid-row: 3/4;
}

/*Search results hotel*/

.results{
  display: flex;
  margin: 0;
  margin-top: 29px;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
}

.found{
  margin-left: 73px;
  margin-top: 29px;
  margin-bottom: 31px;
  margin-right: 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sorting{
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sortng-list{
  list-style: none;
}

.sortng-list a{
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 1px dashed var(--basic-sky-blue);
}

.sortng-list a:hover{
  color: var(--basic-sky-blue);
  opacity: 1;
}

.sortng-list a:focus{
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.sortng-list a:active{
  color: var(--basic-sky-blue);
  opacity: 1;
  border: none;
}

.arrows{
  justify-self: flex-end;
  list-style: none;
}

.arrow-link path{
fill: var(--light-grey);
}

.arrow-link.active path{
  fill: var(--basic-sky-blue);
}

.arrow-link path:hover,
.arrow-link.active path:hover{
  fill: var(--basic-black);
}

.arrow-link path:focus,
.arrow-link.active path:focus{
  fill: var(--basic-sky-blue);
}

.arrow-link path:active
.arrow-link.active path:active{
  fill: var(--basic-sky-blue);
}

.accomodation{
  display: flex;
  margin: 0;
  margin-left: 73px;
  margin-bottom: 30px;
  list-style: none;
}

.accomodation-item{
  display: flex;
  width: 1054px;
  min-height: 153px;
  margin-right: 73px;
  margin-bottom: 73px;
}

.accomodation-img{
  widows: 135px;
  height: 90px;
  background-color: var(--dark-orange);
}

.hotel-name{
  margin-top: 24px;
  margin-right: 561px;
  margin-bottom: 7px;
  margin-left: 29px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-name:hover{
  color: var(--basic-sky-blue);
}

.hotel-name:focus{
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.stars{
  justify-self: end;
}

.detailed{
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}

.detailed:hover{
background-color: var(--slightly-blue);
}

.detailed:focus{
  color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--moderate-blue);
}

.to-book{
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--dark-orange);
}

.to-book:hover{
  background-color: var(--greyish-orange);
}

.to-book:focus{
  color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--desaturated-orange);
}

.rating{
  text-align: center;
  color: var(--very-dark-grey);
  background-color: var(--very-light-grey);
}

/*Filters*/

.infrastructure{
  width: 135px;
}

.infrastructure fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 120px;
  border: none;
}

.infrastructure fieldset:last-child {
  margin-bottom: 35px;
}

.infrastructure legend {
  margin-bottom: 24px;
}

.infrastructure ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-a-day{
  justify-self: end;
}

.background-img-hotels{
  background-color: var(--basic-dark-grey);  
  background-image: url(..img/background.jpg) no-repeat;
}

.filter legend{
  font-weight: bold;
  font-size: 16px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
}

.filter-input-checkbox path{
  fill: var(--basic-white);
}

.filter-input-checkbox:hover path{
  fill: var(--basic-white);
}

.filter-input-checkbox:disabled path{
  fill: var(--disabled);
}

.filter-input label{
  color: var(--basic-white);
}

.filter-input-price{
  color: var(--basic-white);
  text-align: center;
}

.filter-input-show{
  color: var(--basic-white);
  text-align: center;
}

.filter-input-show:hover{
  color: var(--basic-black);
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}