/*Colors*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-sky-blue: #81B3D2;
  --basic-dark-grey: #333333;
  --basic-grey: #ababab;
  --dark-grey: #a9a9a9;
  --very-light-grey: #f2f2f2;
  --bright-blue: #23a9e1;
  --desaturated-blue: #81b3d3;
  --slightly-blue: #669EC0;
  --moderate-blue: #5496BD;
  --black-red: #231f20;
  --very-dark-red: #491213;
  --dark-orange: #766357;
  --dark-orange-2: #766458;
  --bright-orange: #dc6243;
  --mostly-white: #eeeeee;
  --soft-orange: #f49774;
  --soft-red: #f4b1a4; 
  --metal-grey: #e5e5e5;
  --very-dark-grey: #666666;
  --light-grey: #cacaca;
  --greyish-orange: #604E43;
  --desaturated-orange: #503E33;
  --greyish-pink: #bdbbbc;
  --disabled: #6a6a6a;
  --background-black: #020202;
  --basic-green: #bbf1bb;
}

  /* Tags */

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  background-position: top center;
  background-repeat: no-repeat;
  border: 1px solid var(--basic-black);
  background-color: var(--very-light-grey);
}
  
a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

  /* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */


  /*Navigation*/
 
.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  position: relative;
}

  /*Logo*/
  
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} 

  /* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.main-logo img {
  margin: 0 auto;
  display: block; 
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px 72px;
  width: 100%;
  list-style: none;
}
 
.site-navigation li {
  width: 225px;
}  

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(2),
.site-navigation li:first-of-type {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-of-type {
  text-align: right;
}

.site-navigation-current a:not([href]) {
  color: var(--dark-orange);
}
  
.site-navigation a {
  color: var(--basic-black);
}
  
.site-navigation a:hover {
  color: var(--basic-sky-blue)
}

.site-navigation a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
} 

.site-navigation a:active {
  color: var(--dark-orange);
}   

  /*Main*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

  /*Promo*/


.promo {
  background-color: var(--basic-dark-grey);  
  background-image: 
    url(../img/shape.svg),
    url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 77px 0 80px 0;
}

  /*Advantages*/

.advantage-flex-image img {
  display: block;
}  

.advantages {
  margin-bottom: 0;
  background-color: var(--basic-white);
}

.advantage-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-strong {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  padding-bottom: 17px;
  width: 470px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantage-normal {
  text-align: center;
}

.advantage-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
  padding-top: 43px;
}


/*Advantage*/

.advantage-one-flex {
  display: flex;
  flex-wrap: wrap; 
}

.advantage-background-main {
  background-color: var(--basic-sky-blue);
  width: 400px;
  padding-top: 37px;
}

.advantage-h2-main {
  width: 152px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin-left: 123px;
  text-align: center;
  align-items: center;
  background-repeat: repeat;
}

.advantage-main {
  color: var(--basic-white);
  text-align: center;
  width: 297px;
  margin: 25px auto;
  padding-bottom: 0;
}


.advantages-minor {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 82px;
  width: 100%;
}

.advantage-minor-flex {
  width: 400px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.advantage-minor-strong {
  margin-left: 100px;
  width: 103px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  position: relative;
}

.advantage-home::before {
  content: "";
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.advantage-food::before {
  content: "";
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.advantage-souvenirs::before {
  content: "";
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.advantage-minor {
  text-align: center;
  width: 297px;
  margin: 0;
  padding: 0;
  margin-top: 21px;
}

/*Advantages 3-5*/
.advantages-flex{
  display: flex;
  flex-wrap: wrap;
}

.advantage-background-minor {
  width: 400px;
  background-color: var(--mostly-white);
  padding-top: 47px;
  padding-bottom: 54px;
}

.advantage-h2-secondary {
  width: 152px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin-left: 123px;
  text-align: center;
  align-items: center;
  background-repeat: repeat;
}

.advantage-secondary {
  color: var(--basic-dark-grey);
  text-align: center;
  width: 297px;
  margin: 25px auto;
}

  /*Hotel search main*/

.flex-container-interest {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
  padding-top: 58px;
}

.interested-in-strong {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
} 

.interested-in-normal {
  line-height: 24px;
  text-align: center;
  width: 435px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 65px;
} 

.flex-container-interest .button {
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  width: 568px;
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--dark-orange);
  border: none;
  cursor: pointer;
  font-size: 21px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button:hover {
  background-color: var(--greyish-orange);
}  

.button:active {
  background-color: var(--desaturated-orange);
  color: rgba(255, 255, 255, 0.3);
}

.form-flex {
  display: flex;
  flex-direction: column;
  margin-left: 316px;
  margin-bottom: 105px;
  width: 568px;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
  z-index: 2;
}

.search-amount {
  display: flex;
}

.search-item {
  font-weight: bold;
  line-height: 26px;
  padding-top: 29px;
  margin-left: 55px;
}

.form-text { 
  width: 121px;
  padding-right: 23px;
}

.search-button {
  width: 458px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--basic-sky-blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
  margin: 55px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--slightly-blue);
}

.search-button:active {
  background-color: var(--moderate-blue);
  color: rgba(255, 255, 255, 0.3);
}

.search-item-input {
  width: 346px;
  background-color: var(--very-light-grey);
  border: none;
  line-height: 26px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.search-item input::-webkit-input-placeholder {
  font-weight: bold;
  color: var(--basic-black);
}

.search-item-input-number {
  width:114px;
  background-color: var(--very-light-grey);
  border: none;
  line-height: 26px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.adults {
  margin-left: 18px;
}

.check-out {
  margin-left: -3px;
}

/*Map*/

.map {
background-color: var(--basic-green);
}

.map iframe {
  width: 1199px;
  min-height: 594px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2230px;
  z-index: 1;
  background-color: var(--basic-green);
  border: none;
}

/*Footer*/
.footer {
  background-color: rgba(255, 255, 255, 0.9); 
  color: var(--basic-black); 
  position: relative;
  z-index: 2;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
  margin:0;
  width: 251px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-left: 111px;
}

.visit {
  margin:0;
  padding-top: 23px;
}

.phone {
  padding: 0;
  margin: 0;
  padding-top: 9px;
}

.social {
  padding-top: 36px;
  padding-bottom: 36px;
  width: 150px;
  justify-self: center;
}

.social-button {
  width: 46px;
  min-height: 48px;
  background-color: var(--basic-sky-blue);
}

.social-button a {
  display: block;
  margin: 0 auto;
  justify-items: center;
}

.social-button:hover {
  background-color: var(--slightly-blue);
}

.social-button:active {
  background-color: var(--moderate-blue);
  fill-opacity: 0.3;
  fill: var(--moderate-blue);
}

.footer ul {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social ul {
  width: 152px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-by {
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
  margin-top: 46px;
  margin-right: 165px;
}

.website-by span {
  margin: 0;
  margin-right: 15px;
  position: relative;
}

.website-by-link {
  position: absolute;
  top: 35px;
}

.website-by-link path {
  fill: var(--black-red);
}

.website-by-link:hover path {
  fill: var(--basic-sky-blue);
}

.website-by-link:focus path {
  fill: var(--greyish-pink) ;
}

/*Hotels page*/

.hotels-main {
  background-color: var(--basic-white);
}

.page-hotels form {
  display: flex;
  margin: 0 auto;
}


/*Search results hotel*/

.results {
  display: flex;
  margin: auto;
  border-bottom: 1px solid var(--metal-grey);
}

.found {
  margin-left: 73px;
  margin-top: 29px;
  margin-bottom: 31px;
  margin-right: 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sorting {
  margin-top: 29px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 26px;
  position: relative;
}

.sorting-list a {
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-sky-blue);
}

.sorting-list-first a {
  color: var(--basic-sky-blue);
  opacity: 1;
  border: none;  
  line-height: 18px;
  mix-blend-mode: normal;
}

.sorting-list a:hover,
.sorting-list-first a:hover {
  color: var(--basic-sky-blue);
  opacity: 1;
}

.sorting-list a:focus {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.sorting-list a:active {
  color: var(--basic-sky-blue);
  opacity: 1;
  border: none;
}

.arrows {
  display: flex;
  margin: 0;
  list-style: none;
  margin-top: 25px;
  margin-left: 380px;
}

.arrows li {
  padding-right: 12px;
}

.arrow-link path {
fill: var(--light-grey);
}

.arrow-link-active path {
  fill: var(--basic-sky-blue);
}

.arrow-link path:hover,
.arrow-link-active path:hover {
  fill: var(--basic-black);
}

.arrow-link path:focus,
.arrow-link-active path:focus {
  fill: var(--basic-sky-blue);
}

.arrow-link path:active,
.arrow-link-active path:active {
  fill: var(--basic-sky-blue);
}

.accomodation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.accomodation-item {
  display: flex;
  width: 100%;
  padding-right: 73px;
  padding-left: 73px;
  border-bottom: 1px solid var(--metal-grey);
}

.accomodation-img {
  width: 135px;
  height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--dark-orange);
}

.hotel-name-text {
  width: 292px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
  margin-left: 29px;
}

.grid-hotels-text {
  display: grid;
  grid-template-columns: 110px 142px;
  gap: 6px;
}

.hotel-name-text p {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 142px;
}

.hotel-name-text span {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
}

.hotel-name:hover {
  color: var(--basic-sky-blue);
}

.hotel-name:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.stars {
  margin-top: 10px;
  margin-left: 470px;
}

.stars-figueres {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 48px;
  position: relative;
  color: rgba(255, 255, 255, 1);
}

.stars-figueres::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.stars-four::before {
  width: 82px;
}

.stars-three::before {
  width: 62px;
}

.stars-two::before {
  width: 42px;
}

.detailed {
  display: inline-block;
  font: inherit;
  width: 110px;
  padding: 3px 17px;
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}

.detailed:hover {
  background-color: var(--slightly-blue);
}

.detailed:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--moderate-blue);
}

.detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--moderate-blue);
}

.to-book {
  font: inherit;
  font-weight: bold;
  padding: 3px 17px;
  color: var(--basic-white);
  background-color: var(--dark-orange);
  text-align: center;
}

.to-book:hover {
  background-color: var(--greyish-orange);
}

.to-book:focus { 
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--desaturated-orange);
}

.to-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--desaturated-orange);
}

.rating {
  text-align: center;
  color: var(--very-dark-grey);
  background-color: var(--very-light-grey);
  width: 110px;
}

/*Filters*/

.infrastructure {
  width: 135px;
  border: none;
  margin: 0; 
  padding: 0;
  margin-left: 73px;
  margin-top: 27px;
}

.filter-option {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.filter-option:last-of-type {
  padding-bottom: 31px;
}

.infrastructure fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 120px;
}

.infrastructure fieldset:last-child {
  margin-bottom: 35px;
}

.infrastructure legend {
 margin-right: 44px;
}

.infrastructure ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-a-day {
  width: 316px;
  margin: 0;
  border: none;
  margin-top: 27px;
  margin-left: 344px;
}

.background-img-hotels {
  background-color: var(--basic-dark-grey);  
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
}

.filter-option input,
.filter-option label {
  cursor: pointer;
}

.filter-input-checkbox path {
  fill: var(--basic-white);
}

.filter-input-checkbox:hover path {
  fill: var(--basic-white);
}

.filter-input-checkbox:disabled path {
  fill: var(--disabled);
}

.filter-input label {
  color: var(--basic-white);
}

.filter-input-price {
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

.button-flex {
  display: flex;
  width: 317px;
  justify-content: space-around;
  border: 2px solid var(--basic-white); 
  background-image: url("../img/rectangle-border.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.price-from {
  width:160px;
  margin: 0;
  padding: 0;
  padding-left: 66px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.price-to{
  width: 156px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 52px;
}

.price-controls input {
  display: inline-block;
  vertical-align: baseline;
  width: 39px;
  margin: 0;
  padding: 0;
  text-align: start;
  color: var(--basic-white);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: inherit;
}

.filter-input-show {
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  border: 2px solid var(--basic-white); 
  background-color: rgba(0, 0, 0, 0);
  width: 137px;
  padding: 3px 35px 4px 36px;
  margin-top: 10px;
  margin-left: 65px;
  cursor: pointer;
}

.filter-input-show:hover {
  color: var(--basic-black);
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/*Scale bar*/

.range-filter {
  width: 316px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 26px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey);
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover {
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-max {
  left: 210px;
}